 /* Form CSS */

.Inquiry-heading{
    text-align: center;
    align-items: center;
    font-size: 1.9rem;
}
#contact-box::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    background-image: url(keys.jpg);
    background-size: auto;
    background-size: cover;
    width: 1470px;
    height: 1000px;
    /* background-color: #000; */
 }  
 #contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    /* border: 5px solid black; */
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 25px;
    padding: 25px;
    /* background-color: #000000; */
/* background-image: linear-gradient(315deg, #000000 0%, #414141 74%); */
    border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    margin: .3rem;
    padding: .7rem;
    border-radius: 9px;
    font-size: 1.4rem;
    box-shadow: 0 0 25px 0px black;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
font-size: 1.7rem;

} 

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #222; /* Dark background color */

}
.doc::before{
    content: "";
    left: 0;
    background: url();
}

/* Style the navbar */
.navbar {
    background-color: #222; /* Darker background color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}


/* Style the navigation links */
.nav-pages {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-pages li {
    font-size: 18px;
}

.nav-pages a {
    text-decoration: none;
    color: #fff; /* White text color */
    transition: color 0.3s; /* Smooth color transition */
}

.nav-pages a:hover {
    color: #7f7c7c; /* Change color on hover */
}
/*  footer */

/* Style the footer */
footer {
    background-color: #111; /* Darker background color */
    color: #fff; /* White text color */
    padding: 20px;
}

/* Style the footer logo */
.footer_logo img {
    width: 150px;
}

/* Style the sections within the footer */
.pages, .doc, .social, .contact {
    /* display: block; Set div elements to block display */
    margin-top: 20px;
    justify-content: center;
    text-align: center;
}

/* Style the headings within the sections */
.pages h3, .doc h3, .social h3, .contact h3 {
    font-size: 18px;
    color: #7f7c7c;
}

/* Style the links in the sections */
.pages a, .doc a, .social a, .contact a {
    text-decoration: none;
    color: #fff; /* White text color */
    margin-right: 10px;
}

/* Style the social icons */
.social i {
    font-size: 24px;
    margin-right: 10px;
}

/* Add a horizontal line to separate the sections */
hr {
    border: none;
    border-top: 1px solid #333;
    margin-top: 20px;
    margin-bottom: 20px;
}

